<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key = "filenameObj" value="C:/1/cube.obj"/>
    <add key="backgroundImage" value ="C:/1/back/back1.jpg"/>
    <add key="nameSave" value="C:/1/1.jpg"/>
  </appSettings>
</configuration>